* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
   height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #45556C;
    padding: 10px;
}

#logo{
    max-width: 100%;
    height: auto;
 }

#logo img{
   width: 100%;
   max-width: 200px;
   height: auto;
}

 #content{
   width: 100%;
   height: 100%;
   max-width: 360px;
   background-color: #F1F5F9;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
 }


 #bem-vindo h1{
   font-size: 1.2rem;
   text-align: center;
 }

 #botoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 20px;
 }

 .btn-bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    text-decoration: none;
    background-color: #45556C;
    color: #F1F5F9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.9s; 
    font-size: 1rem;
 }

 .btn-bem-vindo:hover{
    background-color: #CAD5E2;
    border: 2px solid #45556C;
    color: #45556C;
 }
 