* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#gauge {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
  transform: scale(0.8);
}

.outher {
  height: 160px;
  width: 160px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.inner {
  height: 120px;
  width: 120px;
  position: absolute;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number, .text {
  font-weight: 600;
  color: #555;
}

.legenda {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}